<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        {{status}}
        {{#if notLogin}}
        <a href="http://localhost:7271/login?redirectUrl=http://localhost:7272/">Login here</a>
        {{/if}}
    </body>
</html>